[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
matplotlib = "*"
e2cnn = "*"
ray = "*"
tensorboard = "*"
setuptools = "~=59.5.0"
scikit-image = "*"
pybullet = "*"
attrdict = "*"
cupy-cuda115 = "*"
scikit-learn = "*"
gitpython = "*"

[dev-packages]

[requires]
python_version = "3.8"
