[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
matplotlib = "*"
ray = {extras = ["default"], version = "*"}
tensorboard = "*"
pybullet = "*"
scikit-image = "*"
scikit-learn = "*"
attrdict = "*"
gitpython = "*"
more-itertools = "*"
escnn = "*"
tqdm = "*"
numpy = "<=1.23.1"
aiohttp = "<=3.7"
opencensus = "*"
prometheus-client = "*"
aiohttp-cors = "*"
seaborn = "*"
ipython = "*"
jupyterlab = "*"

[requires]
python_version = "3.8"
